@if (myAge > 18) {
<div class="card">
  <button (click)="decrease()">Previous</button>
  <img [src]="images[i]" alt="img">
  <button (click)="increase()">Next</button>
</div>
}

@else if (myAge == 18) {
<h1>{{title}}</h1>
<section>
  <p>title</p>
  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit rem earum deleniti quas, iusto
    officia odit in ex, minus reiciendis aliquid blanditiis facere molestias harum temporibus placeat amet alias. Natus,
    hic. Nostrum qui itaque cumque amet pariatur saepe odit voluptatibus doloribus provident officia excepturi autem eum
    ducimus, quidem delectus.</span>
</section>

}


@else {
  <h1>NO DATA...</h1>
}



@for (item of colors; track $index) {
  <div [style.box-shadow]="'0 0 10px ' + item" class="barati">
    <h1>{{item}}  {{$index}}  <button>X</button></h1>
  </div>
}

@empty {
  <h1>cleared</h1>
}